@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Figtree', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #171717;
    color: whitesmoke;
}

nav{
    display: flex;
    max-height: 60px;
    width: 100%;
    padding: 20px 140px 20px 140px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #171717;
    border-bottom: 0.25px solid rgb(83, 83, 83);
}

nav .logo{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

nav .links{
    flex-basis: 50%;
}

nav .links ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a:any-link{
    text-decoration: none;
    color: white;   
}

main{
  
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
}

main .sidebar{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #171717;
    height: 100%;
}

main .sidebar .first-child{
    background-color: #030303;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    transition: 0.3s;
   
}

main .sidebar .sidebar-options .sidebar-options-logo{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 0 10px 0 10px;
    transition:0.3s;
}

main .sidebar .sidebar-options .logo-selected{
    background-color: #030303;
    transition: 0.3s;
}

main .sidebar svg{
    height: 48px;
    width: 24px;
    stroke-width: 1px;
}

main .sidebar .sidebar-button{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0 30px;
}

main .sidebar .sidebar-button button{
    background-color: transparent;
    border: none;
    color: white;
}

main .sidebar .sidebar-button button svg{
    height: 2rem;
    width: 2rem;
}

main .sidebar .sidebar-options{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    padding-left: 20px;
    min-height: 50px;
    min-width: 50px;
}

main .sidebar .sidebar-options .sidebar-text{
    display: block;
    transition: 0.3s;
}

main .sidebar .sidebar-options .no-text{
    display: none;
    transition: 0.3s;
}

main .notes{
    padding-top: 30px;
    flex-basis: 40%;
   /*  max-width: 670px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .notes .input-box{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #171717;
    padding: 10px 0 10px 0;
    padding-inline: 30px;
    align-items: center;
    justify-content: space-between;
    border: 0.1px solid #e9ecef;
    border-radius: 10px;
}

main .notes .input-box input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 75%;
    font-family: 'Figtree', sans-serif;
    color: #e9ecef;
    font-size: 1rem;
}

main .notes .input-box .input-box-button{
    background-color: transparent;
    border: none;
    color: #e9ecef;
    display: flex;
    align-items: center;
}

main .notes .input-box .input-box-button svg{
    height: 25px;
    width: 25px;
    color: #e9ecef;
}

main .notes .headline h1{
    font-size: 50px;
}

main .notes .headline h3{
    font-size: 32px;
}

main .notes .content-cards{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 150px;
    
}

main .notes .content-cards .card{
    max-width: 275px;
    height: minmax(100px, 200px);
    line-height: 1.4rem;
    border-radius: 20px;
    background-color: #030303;
    padding: 20px;
    /* justify-self: start; */
}

main .notes .content-cards .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

main .notes .content-cards .card p{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

main .extras{
    flex-basis: 25%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main .extras .search-box{
    display: flex;
    width: 250px;
    height: auto;
    background-color: #e9ecef;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

main .extras .search-box svg{
    height: 20px;
    width: 20px;
    color: #343a40;
    margin-right: 10px;
}

main .extras .search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Figtree', sans-serif;
}

.extras .calendar{
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #030303;
    color: #e9ecef;
    align-items: center;
    gap: 15px;
}

.extras .calendar-header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.extras .calendar-header .current-month{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.extras .calendar-header svg{
    width: 25px;
    height: 25px;
    margin-inline:5px;
}

.extras .calendar-days{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extras .calendar-days .weekdays{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7,30px);
    gap: 5px 8px;
    font-weight: bold;
}

.extras .calendar-days .days{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 5px 8px;
    text-align: center;
}




